{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ article.titre }}{% endblock %}

{% block main %}
    <h1>{{ article.titre }}</h1>
    <p>Publié le {{ article.createdAt|date('d/m/Y à H\\hi') }}</p>
    <div>Catégories
        {% for categorie in article.categories %}
            <span class="badge bg-primary">{{ categorie.nom }}</span>
        {% endfor %}
    </div>
    <div>Mots-clés
        {% for motCle in article.motsCles %}
            <span class="badge bg-secondary">{{ motCle.motCle }}</span>
        {% endfor %}
    </div>
    <br>

    <div>{{ article.contenu|raw }}</div>
    <br>

    <h2>Commentaires ({{ commentaires | length }})</h2>
    {% for commentaire in commentaires %}
        <p>Ecrit par {{ commentaire.pseudo }} le {{ commentaire.createdAt|date('d/m/Y à H\\hi') }}</p>
        <div>{{ commentaire.contenu }}</div>
        <br>
    {% else %}
        <p>Il n'y a pas de commentaires !</p>
    {% endfor %}

    <h2>Ajouter un commentaire</h2>
    {{ form(commentForm) }}
{% endblock %}